<footer class="page-footer font-small cyan darken-3">

    <div class="container-fluid acomodo d-flex justify-content-around align-items-center p-3  "  style="background:#F24236 ; height: 300px; font-family: 'Philosopher', sans-serif; font-family: 'Libre Baskerville', serif; ">
        <div class="row text-center ">
          <div class="col-12 col-sm-4 font-weight-bolder text-3xl text-white font-weight-bolder d-flex" style="font-family: 'Domine', serif;" >
            <h2 class="text-uppercase text-right" >Mira lo que tengo </h2>
            
          </div>
<div class="col">
    
</div>

<div class="container mx-auto p-0 ">
     <p>Mira lo que tengo  Mr</p>
    <span>Cel: 462 228 0005 Los Mochis  Sinaloa</span>
</div>

   </div>
  </div>
 </footer>

