<app-header></app-header>
<router-outlet></router-outlet>


<section class="container-fluid border border-dark border-solid p-0 ">
   
    <ngb-carousel >
      <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
        <div class="picsum-img-wrapper d-flex justify-content-center">
          <img src="{{pelicula.img}}" class="card-img-bottom img-fluid rounded-lg shadow shadow-lg mw-100" alt="Random first slide" style="width: 75%; background-size: contain;">
        </div>
        <div class="carousel-caption border-black border-solid border h-100 font-weight-bolder text-uppercase d-flex align-items-center justify-content-end "  style="font-family: 'Muli', sans-serif;">
          <h2 class="titulo display-3 font-weight-bolder">{{pelicula.name}}</h2>
          <h3 class="titulo display-3">{{pelicula.desc}}</h3>
         
  
         
        </div>
      </ng-template>
  </ngb-carousel>
  
  
    
  </section>
  <div class="container pt-5 pb-5">
  
    <div class="row ">
      <div class="col-lg-4  " *ngFor="let tarjeta of tarjetas" style="font-family: 'Libre Baskerville', serif;" >
        <div class="card  mt-3 rounded-lg shadow shadow-lg " style="background: #2274A5">
          <div class="card-body  ">
            <p class="text-center text-uppercase text-white font-weight-bolder">Carniceria Nieto</p>  
            <div class="bg-white w-100 h-50 d-flex p-0 justify-content-center flex-wrap" style="background-size: cover;">
                
                <img src="{{tarjeta.imagen}}" class="img-fluid ">

                <div class="card-text p-2  text-center">
                   <h5>Venta de Carne de pollo  , Res y Cerdo.Pida su corte y se lo llevamos hasta su casa </h5>
                  </div>
            </div>  
            
            
             <div  class="d-flex justify-content-center p-3">
               <a class=" btn btn-info rounded-pill" >Ver más</a>
             </div> 

          </div>
          
        </div>
      </div>

      
    </div>
    
</div>

<div class="container  p-4 mb-5 ml-2 mr-2 mx-auto d-flex justify-content-center" style="background:#AAA2A2">

<div class="row">
    <div *ngFor="let visitado of visitados" class="col-6 border-dark border-solid border d-flex justify-content-center flex-column text-center align-items-center bg-white p-4">
        <img src="{{visitado.imagen}}" class="img-fluid h-auto mw-100 rounded-circle" style="width: 30%; height: 150px;">
        <p class="text-uppercase font-weight-bolder">{{visitado.rotulo}}</p>
    </div>

    

  

  
   
    

    
</div>
</div> 
<app-footer></app-footer>